{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Your mall</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'clothes/css/styles.css' %}">
    <link rel="stylesheet" type="text/css"
    href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>
<body> 
    <div id="header">
        <div class="container">
            <div class="nav">
                <a href="index.html"><img src="{% static 'clothes/images/logo.png' %}"></a>
            </div>
            <div class="header_txt">
                <p>In order to be <b>irreplaceable</b>,</p>
                <p>one must always be <b>different.</b></p>
                <h1><img src="{% static 'clothes/images/header-txt.png' %}" style="width=300; height=80;"></h1> 
            </div>
        </div>
    </div>
    <div id="content">
       <div class="container">
            <div class="content_txt">
                <h2>Today's fashion</h2>
                <p class="date-text"> {{date}}</p
            </div>
            <div class="clothes_container">
                <div class="clothes">
                  <img src="{% static 'clothes/images/pink.jpg' %}"/>
                  <div class="info">
                    <h3>Hot trend</h3>
                    <p>S/S 2021 Trends</p>
                    <a href="2021ss">자세히 보기</a>
                </div>
           </div>

            <div class="clothes_container">
                <div class="clothes">
                  <img src="{% static 'clothes/images/2020fw.jpg' %}"/>
                  <div class="info">
                    <h3>Nearby Home</h3>
                    <p>F/W 2020 Trends</p>
                    <a href="2020fw">자세히 보기</a>
                </div>
           </div>

            <div class="clothes_container">
                <div class="clothes">
                  <img src="{% static 'clothes/images/2020ss.jpg' %}"/>
                  <div class="info">
                    <h3>PANTS SUIT</h3>
                    <p>S/S 2020 Trends</p>
                    <a href="2020ss">자세히 보기</a>
                </div>
           </div>
       </div>
    </div>
    <div id="footer">
        <div class="container">
            <div class="footer">
                <img src="{% static 'clothes/images/logo.png' %}"> 
            </div>
        </div>
    </div>
</body>
</html>