{% extends './base.html' %}
{% load static %}

{% block date-block %}
    <div>{{date}}</div>
{% endblock date-block %}


{% block clothes-container %}
    {% for trend in trends %}
        <div class="clothes">
            <img src="{% get_static_prefix %}{{trend.img_path}}" />
            <div class="info">
                <h3>{{trend.name}}</h3>
                <p>{{trend.description}}</p>
                <a href="{{trend.id}}">자세히 보기</a></div>
        </div>
    {% endfor %}
{% endblock clothes-container%}
